@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4.h5,
p {
    margin: 0;
    padding: 0;
}

.spacing {
    padding: 72px 0px;
}

h1 {
    color: var(--BG-DARK, #080808);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: var(--BG-DARK, #080808);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: var(--BG-DARK, #080808);
    text-align: center;
    text-transform: none;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: var(--BG-DARK, #080808);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.banner-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.banner-content a {
    border-radius: 5px;
    background: var(--BUTTON-GRADIENT, linear-gradient(90deg, #FF8A00 0%, #E50914 100%));
    padding: 12px 24px;
    gap: 10px;
    border: none;
    color: #FFF;
    text-align: center;

    /* CTA-BTN/Desktop */
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* =============== end ========== */

.Upcoming {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Upcoming-card {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.bootcampA {
    border: 1px solid #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    background: var(--GREY, #F6F6F6);
}

.bootcampA:hover {
    border: 1px solid var(--DANGER, #E50914);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
}

.card-content a {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--DISABLE-GREY, #AFAFAF);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 5px;
    background: var(--BORDER-GREY, #D9D9D9);
}

.bootcampA:hover a {
    background: var(--BUTTON-GRADIENT, linear-gradient(90deg, #FF8A00 0%, #E50914 100%));
    color: var(--WHITE, #FFF);
}

.red-content {
    color: var(--DANGER, #E50914);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.event-info {
    display: flex;
    gap: 16px;
}

.event-text {
    display: flex;
    gap: 5px;
}

.icon {
    line-height: normal;
}

/* ============ why section start ============== */
.why-infosec {
    border-radius: 15px;
    border: 1px solid var(--BORDER-GREY, #D9D9D9);
    background: var(--GREY, #F6F6F6);
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    width: 360px;
}

.why-infosec:hover {
    border-radius: 15px;
    border: 1px solid #E50914;
}

/* ==================== how  */
.how {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.hire-trainer {
    border-radius: 16px;
    background: var(--BUTTON-GRADIENT, linear-gradient(90deg, #FF8A00 0%, #E50914 100%));

}


/*-------- instructor-hiretrainer-sec style start -------*/
.instructor-hiretrainer-sec .col-12 .d-flex {
    background: var(--bg-gradient);
    border-radius: 10px;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
}

@media (min-width:992px) {
    .instructor-hiretrainer-sec .col-12 .d-flex {
        padding-top: 24px;
        gap: 0;
    }
}

.instructor-hiretrainer-sec .col-12 .item h3 {
    color: var(--white);
    font-size: 24px !important;
}

.instructor-hiretrainer-sec .col-12 .item p {
    padding: 20px 0;
    font-size: 18px;
    color: var(--white);
}



.hire-trainer .button {
    border-radius: 8px;
    background: var(--BG-DARK, #080808);
    padding: 16px 24px;
    color: var(--WHITE, #FFF);
    text-align: center;

    /* CTA-BTN/Desktop */
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/*------- instructor-hiretrainer-sec style end ----------*/



/* ]================================================================ */
.workshop-info {
    color: var(--DARK-GREY, #484848);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    gap: 8px;
}

.workshop-info .divider {
    opacity: 0.5;
}

.workshop-info .info-item {
    white-space: nowrap;
}


/* ======== responsive ================ */

@media (max-width: 768px) {
    .banner {
        background-image: none;
    }

    .why-infosec {
        width: 100%;
    }

    .why-cards {
        width: 98%;
        margin: 0px auto;
    }

    .event-text {
        gap: 2px;
    }

    .event-info {
        gap: 8px;
    }

    .spacing {
        padding: 36px 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .workshop-info {
        font-size: 10px;
    }

    .banner {
        background-image: none !important;
    }
}