*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #5E75C7;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}
p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 400;
}
.ccskBtn{
    color: #ffffff;
    letter-spacing: 1px;
    padding: 15px 30px;
    background: #5E75C7;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 17px;
    transition: 0.5s ease-in-out;
    border: 1px solid #5E75C7;
}
.ccskBtn:hover{
    background: #ffffff;
    color: #5E75C7!important;
}
a:hover{
    color: #ffffff;
}
header{
    background: linear-gradient(185.03deg, #A0C9EA 5.71%, rgba(195, 217, 234, 0.445434) 38.27%, rgba(195, 217, 234, 0.305167) 74.58%, rgba(195, 217, 234, 0) 95.95%);
}
.nav-link{
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navfixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
          animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100% !important;
}
/*----animation start----*/
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
section,header,footer{
    padding: 50px 0;
}
.banner .item img{
    border-radius: 5px;
    max-width: 15%;
    display: block;
    margin-bottom: 8px;
}
.banner .row .fixedImg{
    max-width: 45%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-40%, 5%);
    z-index: -1;
}
.banner .item span{
    color: #000;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 6px;
}
.banner .item p{
    font-size: 20px;
    font-weight: 500;
}
.banner .item-two{
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner .item-two span{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: block;
    color: #5E75C7;
}
.banner .item-two form label{
    display: block;
    font-size: 15px;
    letter-spacing: .5px;
    margin-bottom: 3px;
    letter-spacing: .5px;
}
.banner .item-two form input,.banner .item-two form textarea{
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #0000004f;
    border-radius: 5px;
    letter-spacing: .5px;
    background: #FFF5F5;
}
.banner .item-two form input[type="submit"]{
    background: #5E75C7;
    color: #ffffff;
    border: 1px solid #5E75C7;
}

/*---section one style---*/
.section-two{
    background: #FFEAEA;
}

/*---section two style---*/
.section-two .item{
    text-align: center;
}
.section-two .item img{
    width: 60px;
    display: block;
    margin: auto;
}
.section-two .item p{
    margin-top: 15px;
    padding: 0 25px;
    font-weight: 500;
}
/*---traning calendor sec start----*/
.column-0,.column-1,.column-2,.column-3,.column-4,.column-5,.column-6{
    width: 170px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}
.table td{
    text-align: center;
}
.table .row-1{
    border: none;
}
.table .row-1 th{
    background: #5E75C7;
    color: #ffffff;
    font-weight: 500;
}
.table .row-1 th:first-child{
    border-radius: 10px 0 0 0;
    border-left: none;
}
.table .row-1 th:last-child{
    border-radius: 0 10px 0 0;
    border: none;
}
.table .row-2{
    border: none;
}
.table .row-1 th,.table .row-2 td{
    border-right: 1px solid #05050533;
    vertical-align: middle;
}
.table .row-2 td:first-child{
    border-radius: 0 0 0 10px;
    border-left: none;
}
.table .row-2 td:last-child{
    border-radius: 0 0 10px 0;
    border: none;
}
/*---benifit four---*/
.section-four .item{
    background: #F8F9FF;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: 280px;
}
.section-four .item img{
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background: #5E75C7;
    padding: 10px;
}
.section-four .item p{
    margin-top: 18px;
}
/*========why-certification=======*/
.why-certification .item{
    height: 100%;
    background: #E2F1FF;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-image: url(../img/blue-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.why-certification .item-two{
    background-image: url(../img/grey-bg.png);
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-position-x: right;
}
.why-certification .item img{
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background: #5E75C7;
    padding: 10px;
    margin-bottom: 1rem;
}
/*---advisor-sec---*/
.advisor-sec .item{
    border: 1px solid #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 25px;
    background: linear-gradient(to bottom, #A0C9EA 20%, #ffffff 20%);
}
.advisor-sec .item img{
    width: 100px;
    border-radius: 100px;
    height: 100px;
}
.advisor-sec .item h4{
    font-size: 25px;
    padding: 15px 0;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.advisor-sec .item span{
    font-size: 17px;
    letter-spacing: 1px;
    display: block;
    font-weight: 600;
}
.advisor-sec .item span:nth-child(3){
    color: #1e1d1d;
    font-weight: 500;
    margin: 10px 0;
}
/*---faq sec start---*/
.accordion {
    background: #ffffff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid #00000042;;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .active, .accordion:hover{
    background: #0042AF;
    color: #ffffff;
  }
  .accordion:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after{
    content: "\2212";
    color: #ffffff;
  }
  .panel{
    /* padding:  0 15px; */
    background: #ffffff;
    color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .panel p{
    margin-bottom: 15px;
  }

/*----free-demo sec start---*/
.free-demo{
    background-image: url('../img/free-demo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}
/*-----testimonial-sec----*/
.testimonial-sec{
    background: #edf4f9;
}
.testimonial-sec .item{
    border: 1px solid #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 25px;
    background:#ffffff;
}
.testimonial-sec .item img{
    width: 100px;
}
.testimonial-sec .item p{
    margin-top: 1rem;
    height: 135px;
}
.testimonial-sec .item .d-flex img{
    width: 75px;
    height: 75px;
    border-radius: 90px;
    margin-right: 15px;
}
.testimonial-sec .item .d-flex h4{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #000000b3;
}
/*----footer sec start----*/
footer{
    background:#1e1d1d;
}
footer .item h4{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #ffffff;
}
footer .item p{
    color: #ffffff;
    line-height: 28px;
    font-size: 15px;
}
footer .item ul{
    padding-left: 0;
}
footer .item ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer .item ul li a{
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
}
footer .item ul li a img{
    margin-right: 10px;
    width: 25px;
}
/*======fixed menu======*/
.footer-fixed{
    background: #5E75C7;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom 0.2s ease-in-out;;
    display: none;
    z-index: 99;
}
.footer-fixed .d-flex ul{
    margin-bottom: 0;
}
.footer-fixed .d-flex ul li{
   list-style: none;
   display: inline-block;
}
.footer-fixed .d-flex ul li a{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: .5px;
    margin: 0 5px;
}

.topupBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    width: 80px;
  }
/*======responsive code start====*/
@media only screen and (max-width: 768px) {
    h1{
        font-size: 25px;
        margin-bottom: 0;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 13px;
        text-transform: capitalize;
    }
    .ccskBtn{
        font-size: 13px;
        padding: 10px 20px;
    }
    section, header, footer,.free-demo{
        padding: 30px 0;
    }
    .nav-link{font-size: 15px;}
    .banner .item img{max-width: 25%;}
    .banner .row .fixedImg{display: none;}
    .tablepress thead{
        display: none;
    }
    .tablepress .row-2{
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    .tablepress .row-2 td{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #00000024;
        font-size: 13px;
    }
    .table .row-2 td:first-child{
        border-radius: 0;
    }
    .row-2 td:before{
        content: attr(data-label);
        float: left;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .banner .item p,.banner .item span{font-size: 15px;}
    .section-four .item{height: auto;}
    .advisor-sec .item img{
        width: 70px;
        border-radius: 70px;
        height: 70px;
    }
    .advisor-sec .item h4{font-size: 20px;padding: 10px 0;}
    .advisor-sec .item span{font-size: 13px;}
    .testimonial-sec .item p{height: auto;}
    .section-four .item img,.why-certification .item img{
        max-width: 20%;
    }
    footer .item h4{
        font-size: 20px;
        margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px){
    h1,h2{font-size: 23px;}
    section, header, footer{padding: 30px 0;}
    .banner .item span,.banner .item p{font-size: 15px;}
    .banner .item img{max-width: 35%;}
    .banner .row .fixedImg{display: none;}
    .ccskBtn{
        padding: 13px 25px;
        font-size: 15px;
    }
    .section-two .item p{padding: 0 55px;}
    .advisor-sec .item img{
        width: 80px;
        border-radius: 80px;
        height: 80px;
    }
    .advisor-sec .item h4{font-size: 20px;}
    .advisor-sec .item span{font-size: 15px;}
    .column-0, .column-1, .column-2, .column-3, .column-4, .column-5, .column-6{font-size: 13px;}
    .accordion{
        padding: 15px;
        font-size: 15px;
    }
    footer .item h4{font-size: 20px;}
  }