*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
.offer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: #ff1046;
    color: #ffffff;
}
.offer-header>p{
    margin: auto;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.offer-header>p>strong{
    background: #f9f9f9;
    display: inline-block;
    padding: 1px 4px;
    color: #000;
    border-radius: 2px;
}
.offer-header>p>a{
    display: inline-block;
    padding: 1px 5px;
    color: #ffffff;
    text-decoration: underline;
    font-weight: 600;
}
*/
.topbar .container-md a{
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}
.topbar .container-md .dropdown-menu .dropdown-item{
    color: #000;
    font-weight: 400;
}
.dropdown-item:active{
    background: #ffffff;
}
.nav-header .navbar-nav>.nav-item>.nav-link{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-right:1rem;
    padding-left: 1rem;
}
.nav-header .navbar-nav>.nav-item>.nav-link:hover{
    background: #ff0d0d33;
    border-radius: 5px;
}
/*------navform style start--------*/
.nav-form input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}
/*-----navform style end---------*/
/* .allCourse-btn{
    background: #ffffff;
    background: #ffffff;
    padding: 5px 10px;
    border: none;
    color: #000;
} */
/* .allCourse-btn a{
    color: #000;
} */
/*----mobile menu -----*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    /* margin-top: 30px; */
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay .closebtn {
    position: absolute;
      top: 0;
      right: 45px;
      font-size: 40px;
      color: #000;
      /* height: 50px; */
      bottom: 0;
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


.cd-article-link {
    color: rgba(0, 0, 0, 0.5)
}
.cd-accordion {
    background: hsl(218, 7%, 32%);
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-accordion--animated .cd-accordion__label::before {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}
.cd-accordion__sub {
    display: none;
    overflow: hidden
}
.cd-accordion__sub--is-visible {
    display: block
}
.cd-accordion__item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}
.cd-accordion__input {
    position: absolute;
    opacity: 0
}
.cd-accordion__label {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75em 1.25em;
    border-bottom: 1px solid #00000029;
    background-color: #ffffff;
}
.cd-accordion__label span {
    /* -ms-flex-order: 3;
    order: 3; */
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
}
.cd-accordion__label::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("./image/arrow.svg");
    background-repeat: no-repeat;
    margin-right: 0.25em;
    margin-right: var(--space-xxxs)
}
.cd-accordion__label--icon-folder::before {
    -ms-flex-order: 1;
    order: 1
}
.cd-accordion__label::after {
    -ms-flex-order: 2;
    order: 2
}
.cd-accordion__label--icon-folder::before {
    background-position: 0 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.cd-accordion__label--icon-folder::after {
    background-position: -16px 0
}
.cd-accordion__input:checked+.cd-accordion__label::before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}
.cd-accordion__input:checked+.cd-accordion__label::after {
    background-position: -32px 0
}
.cd-accordion__input:checked~.cd-accordion__sub {
    display: block
}
.cd-accordion__sub--l1 .cd-accordion__label {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75em 1.25em;
    border-bottom: 1px solid #00000029;
    background-color: #ffffff;
}
.cd-accordion__item:last-child .cd-accordion__label {
    box-shadow: none
}
.cd-accordion__sub--l2 .cd-accordion__label {
    padding-left: calc(1.5em + 32px);
}
.cd-accordion__item a{
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 15px;
}
.cd-accordion__sub--l3 .cd-accordion__label {
    padding-left: calc(1.5em + 48px);
}
/*----mobile menu end----/*
/***mega menu **/
.mega-menu-sec{
    padding: 0 50px;
}
.menu-dropdown{
    z-index: 999;
    margin: 0 auto;
    padding: 0px;
    width: 1340px;
    border-radius: 0;
    border: 1px solid #ddd;
    visibility: hidden;
    opacity: 0;
    display: block;
    background-color: #fff;
    right: 0;
    left: 0px;
    font-size: 13px;
    font-weight: 400;
    transition: all .3s ease-in-out 0s;
    overflow: hidden;
    position: absolute;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition:.3s;
}
.megamenu-courses{
    width: 705px;
    display: flex;
}
.megamenu-courses .title-courses {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-right: 1px solid #eee;
    padding: 12px 18px 12px 30px;
    margin: 0px;
}
.megamenu-courses .title-courses:first-child {
    width: 275px;
}
.megamenu-courses .title-courses:last-child {
    width: 430px;
    padding-left: 35px;
}
.all-courses-menu .menu-dropdown .submenu-main.customized-scrollbar {
    overflow-y: scroll;
}
.submenu-main{
    margin-bottom: 0;
    list-style: none;
    padding-bottom: 20px;
    width: 275px;
    border-right: 1px solid #eee;
    float: left;
    background-color: #fff;
    height: 420px;
    overflow-y: auto;
    min-height: 420px !important;
}
.menu-dropdown .submenu-main>li {
    padding: 0;
    border: 0 none;
    border-radius: 0px;
}
.menu-dropdown .submenu-main>li>a {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 18px 10px 30px;
    display: block;
    color: #000;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    border: 0 none;
    line-height: 18px;
}
.sub-menu {
    width: 430px;
    border-right: 1px solid #eee;
    float: right;
    background-color: #fff;
    position: absolute;
    left: 275px;
    top: 50px;
    padding: 0px 0 12px;
    margin: 0px;
}
.sub-menu .ul-menu-link {
    overflow-y: auto;
    height: 400px !important;
}
.ul-menu-link {
    list-style: none;
    padding: 0px 20px;
    overflow: hidden;
    overflow-y: hidden;
}
.menu-dropdown .sub-menu ul>li {
    padding: 0px;
}
.menu-dropdown .sub-menu ul>li>a {
    color: #000;
    padding: 6px 12px;
    display: inline-block;
    text-decoration: none;
    line-height: 18px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
}
.menu-dropdown .sub-menu ul>li.more-courses {
    padding-top: 10px;
}
.menu-dropdown .sub-menu ul>li.more-courses a {
    display: inline-block;
    width: auto;
    font-weight: 600;
}
.view-trending {
    position: absolute;
    left: 740px;
    right: auto;
    top: 0px;
    margin-bottom: 12px;
    width: 430px;
}
.view-trending .bottom .accre-header {
    padding: 12px 0 10px;
}
.view-trending .bottom .accre-header .accre-title {
    font-size: 16px;
    line-height: 24px;
    color: #000 !important;
    font-weight: 600;
}
.view-trending .accrd-logos {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
/*=======menu scrollbar=========*/
.mega-menu-sec .menu-dropdown .submenu-main.customized-scrollbar {
    overflow-y: scroll;
    scrollbar-color: #ccc #fff;
    scrollbar-width: thin;
}

.mega-menu-sec .menu-dropdown .submenu-main.customized-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.mega-menu-sec .menu-dropdown .submenu-main.customized-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
}

.mega-menu-sec .menu-dropdown .submenu-main.customized-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.mega-menu-sec .menu-dropdown .submenu-main.customized-scrollbar::-webkit-scrollbar-track {
    border-radius: 6px;
}

.mega-menu-sec .menu-dropdown .submenu-main .sub-menu .ul-menu-link.customized-scrollbar {
    overflow-y: scroll;
    scrollbar-color: #ccc #fff;
    scrollbar-width: thin;
}

.mega-menu-sec .menu-dropdown .submenu-main .sub-menu .ul-menu-link.customized-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.mega-menu-sec .menu-dropdown .submenu-main .sub-menu .ul-menu-link.customized-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
}

.mega-menu-sec .menu-dropdown .submenu-main .sub-menu .ul-menu-link.customized-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.mega-menu-sec .menu-dropdown .submenu-main .sub-menu .ul-menu-link.customized-scrollbar::-webkit-scrollbar-track {
    border-radius: 6px;
}

@media only screen and (min-width: 992px) {
    .menu-dropdown{
        width: 1000px;
    }
}
@media only screen and (min-width: 1200px) {
    .menu-dropdown{
        width: 1250px;
    }
}
@media only screen and (min-width: 1400px) {
    .menu-dropdown{
        width: 1340px;
    }
}