@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-display: swap
}
.row>*{
    padding-left: 15px;
    padding-right: 15px;
}
:root {
    --dark-charcoal:#2F2F2F;
    --white: #ffffff;
    --red:#ff1046;
  }
/*====== global tag style start =======*/
h2{
    font-size: 22px;
    letter-spacing: .5px;
    line-height: normal;
    color: var(--red);
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
@media (min-width:768px) {
    h2{
        font-size: 26px;
    }
}
@media (min-width:992px) {
    h2{
        font-size: 36px;
    }
}
p{
    font-size: 14px;
    line-height: normal;
    color: var(--dark-charcoal);
    font-weight: 400;
    text-align: justify;
}
@media (min-width:768px) {
    p{
        font-size: 14px;
    }
}
@media (min-width:992px) {
    p{
        font-size: 16px;
    }
}
@media (min-width:1400px) {
    p{
        font-size: 16px;
    }
}
/*====== global tag style end =======*/
/*========navbar style======*/
nav{
    background: #ffffff;
}
.fixedNav {
    position: fixed;
    animation-name: fadeInUp;
    animation-duration: 1s;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.10);
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      top: -50px;
    }

    to {
      opacity: 1;
      top: 0;
    }
  }
.navbar-brand img{
    max-width: 60%;
    height: auto;
}
.navbar-brand{
    width: 40%;
    max-width: 40%;
}
@media (min-width:992px) {
    .navbar-brand{
        width: 18%;
        max-width: 18%;
    }
    .navbar-brand img{
        max-width: 100%;
    }
}
@media (min-width:1200px) {
    .navbar-brand{
        width: 20%;
        max-width: 20%;
    }
}
@media (max-width:992px) {
    .navbar-brand{
        width: 50%;
        max-width: 50%;
    }
    .navbar-brand img{
        max-width: 90%;
    }
}
.nav-link{
    color: #2F2F2F;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
}
@media (min-width:1200px) {
    .nav-link{
        font-size: 16px;
        margin-right: 5px;
    }
}
.navactive{
    color: #ff1046!important;
}
.nav-link:hover{
    color: #ff1046;
}
.navbar-toggler:focus{
    box-shadow: none;
}
nav .button2{
    padding: 10px 25px;
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-right: 10px;
    animation: zoom-in-zoom-out 2s ease infinite;
}
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

/*========navbar end=======*/


/*===== header style start ======*/
header{
    background: radial-gradient(93.65% 94.58% at 25.49% 58.26%, #C04848 7.05%, #560848 76.99%);
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    /* height: 400px;
    min-height: 400px; */
}
@media (min-width:768px) {
    header{
        padding: 50px 0;
    }
}
@media (min-width:992px) {
    header{
        padding-top: 10px;
        padding-bottom: 0;
        height: auto;
        background-image: radial-gradient(35.16% 50.05% at 25.25% 40.09%,#c04848 0,#480048 100%);
        /* height: 500px;
        min-height: 500px; */
    }
}
/* @media (min-width:1200px) {
    header{
        padding-top: 75px;
        height: 549px;
        min-height: 549px;
    }
} */
h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: .5px;
    margin: 10px 0;
    line-height: normal;
}
@media (min-width:500px) {
    h1{
        font-size: 30px;
    }
}
@media (min-width:768px) {
    h1{
        font-size: 36px;
    }
}
@media (min-width:1200px) {
    h1{
        font-size: 46px;
    }
}
header .col-lg-8{
    z-index: 1;
}
header .item span{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .5px;
}
@media (min-width:768px) {
    header .item span{
        font-size: 20px;
    }
}
header .item p{
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    color: #ffffff;
}
@media (min-width:600px) {
    header .item p{
        font-size: 18px;
        text-align: justify;
    }
}
@media (min-width:768px) {
    header .item p{
        font-size: 22px;
        text-align: justify;
    }
}
@media (max-width:768px) {
    header .item .d-flex{
        flex-direction: column;
    }
}
header .item button{
    padding: 12px 35px;
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin: 30px auto;
}
@media (min-width:768px) {
    header .item button{
        margin: 30px 0 0 0;
    }
}
@media (min-width:1200px){
    header .item button{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width:768px) {
    header .item button{
        display: block;
        margin-right: auto;
        padding: 10px 25px;
        font-size: 14px;
    }
}
@media (max-width:400px) {
    header .item button{
        padding: 8px 18px;
        font-size: 12px;
        margin: 20px 0;
    }
}
/*
header .item .d-flex img{
    max-width: 55%;
	max-width: 18%;
    height: auto;
    margin-left: 40px;
}
@media (max-width:768px) {
    header .item .d-flex img{
        max-width: 50%;
        display: block;
        margin-right: auto;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width:580px) {
    header .item .d-flex img{
        max-width: 60%;
		max-width: 31%;
		margin-top: 7px;
    }

	.cdbody {
  padding-top: 10px !important;
   }

}

@media (max-width:400px) {
    header .item .d-flex img{
        max-width: 60%;
		max-width: 36%;
		margin-top: 7px;
    }

	.cdbody {
  padding-top: 10px !important;
   }

}*/
.review-section{
    background: #333333;
}
.review-star .flex-grow-1 h5{
    color: #ffffff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
}
@media (min-width:768px) {
    .review-star .flex-grow-1 h5{
        font-size: 20px;
    }
}
.review-star .flex-grow-1 p{
    color: #ffffff;
    margin: 0;
    font-size: 12px;
}
@media (max-width:600px) {
    .review-star .flex-grow-1 p{
        font-size: 12px;
    }
}
.review-star svg{
    vertical-align: top;
}
header .redline-img{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header .mobile-man{
    position: absolute;
    bottom: 0;
    right: 0;
   /* transform: translate(-5px, -5px);*/
    max-width: 38%;
	/*margin-bottom: -6px;*/
}
@media (min-width:400px) {
    header .mobile-man{
        max-width: 45%;
    }
}
@media (min-width:768px) {
    header .mobile-man{
        right: 10%;
    }
}
header .waveimg{
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*===== header style end =====*/

/*===== highlights sec start =====*/
/* .highlights{
    background:#F0F0F0;
} */
.highlights .container{
    border-radius: 0px 0px 40px 40px;
    background: #FFECF2;
    /*box-shadow: 0px 12px 20px 10px rgba(249, 192, 211, 0.30);*/
    padding: 30px 15px;
}
.highlights .col-lg-2{
    text-align: center;
}
@media (max-width:768px) {
    .highlights .col-lg-2:nth-child(odd){
        text-align: center;
        border-right: 1px solid #d0d0d0;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .highlights .col-lg-2{
        border-right: 1px solid #d0d0d0;
    }
    .highlights .col-lg-2:nth-child(3n+3){
        border-right:none;
    }
}

@media (min-width:992px) {
    .highlights .col-lg-2{
        border-right: 1px solid #d0d0d0;
    }
    .highlights .col-lg-2:nth-last-child(1){
        border-right: none;
    }
}
.highlights .col-lg-2 img{
    width: 40px;
    height: auto;
    display: block;
    margin: auto auto 10px auto;
}
@media (min-width:992px) {
    .highlights .col-lg-2 img{
        width: 45px;
        margin: auto auto 20px auto;
    }
}
.highlights .col-lg-2 .title{
    color: #484848;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
}
@media (min-width:768px) {
    .highlights .col-lg-2 .title{
        font-size: 16px;
    }
}
@media (min-width:992px) {
    .highlights .col-lg-2 .title{
        font-size: 18px;
    }
}
.highlights .col-lg-2 .sub-title{
    color: #6F6F6F;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}
@media (min-width:768px) {
    .highlights .col-lg-2 .sub-title{
        font-size: 15px;
    }
}
/*===== highlights sec end =====*/

/*===== overview style start =====*/
.overview-sec{
    /* background: *#F0F0F0*; */
    padding: 0 0 50px 0;
}
@media (min-width:400px) {
    .overview-sec{
        padding: 50px 0;
    }
}
@media (max-width:768px) {
    .overview-sec .row{
        flex-direction: column-reverse;
    }
}
.overview-sec .item-two{
    border-radius: 10px;
    background: #333;
    border: none;
    position: relative;
}
.overview-sec .item-two .card-header br{
    display: none;
}
@media (min-width:400px) {
    .overview-sec .item-two .card-header br{
        display: block;
    }
}
.overview-sec .item-two .card-header{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    letter-spacing: .5px;
    border: none;
    line-height: 35px;
    padding-top: 35px;
    text-align: center;
}
@media (min-width:400px) {
    .overview-sec .item-two .card-header{
        text-align: left;
    }
}
@media (min-width:768px) {
    .overview-sec .item-two .card-header{
        font-size: 25px;
    }
}
@media (min-width:1200px) {
    .overview-sec .item-two .card-header{
        font-size: 32px;
    }
}
.overview-sec .item-two .card-header span{
    font-weight: 700;
}
.overview-sec .item-two .card-header span:nth-child(3){
    color: #FFAF19;
}
.overview-sec .item-two form>input{
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    padding: 10px;
    letter-spacing: .5px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
    color: #000000;
    font-weight: 300;
}
@media (min-width:768px) {
    .overview-sec .item-two form>input{
        padding: 12px 15px;
        font-size: 16px;
    }
}
.overview-sec .item-two form>input::placeholder{
    color:#999999;
    text-transform: capitalize;
}
.overview-sec .item-two form>input:focus{
    outline: none;
}
.overview-sec .item-two form>button{
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin: 12px 0 12px 0;
}
@media (min-width:768px) {
    .overview-sec .item-two form>button{
        padding: 12px;
        font-size: 20px;
    }
}
.form-person{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -27%);
    display: none;
}
@media (min-width:400px) {
    .form-person{
        display: block;
    }
}
@media (min-width:768px) {
    .form-person{
        display: none;
    }
}
@media (min-width:992px) {
    .form-person{
        max-width: 100%;
        transform: translate(0, -51px);
        display: block;
    }
}
/*=========>>>>>>>>>>>>>>>>> Training Calendar <<<<<<<<<<<<<<<<<<==============*/
.training-calendor {
    background: var(--black);
    position: relative;
}
.table_training{
    border-radius: 4px;
    border: 2px solid #AFAFAF;
}
@media (max-width:992px) {
    .table_training{
        border-radius: 4px;
        border: none;
    }
}
.training-calendor .row h2 {
    color: var(--white);
}

.row-1 {
    background: #F2FAFF;
}

.row-1 th {
    color: #ffffff;
    background: #EE224A;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}

.row-2 td {
    background-color: none !important;
}
@media (max-width:992px) {
.row-2{
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
}
}
.table-responsive {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.table {
    margin-bottom: 0;
    background: #F0F0F0;
}

@media only screen and (max-width:991px) {
    thead {
        display: none;
    }

    .row-2 td {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .row-2 td::before {
        content: attr(data-label);
        font-size: 14px;
        font-family: Nunito Sans;
        font-weight: 500;
    }
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-accent-bg: #F2F5F7;
    border-radius: 5px;
    border: 1px solid #AFAFAF;
    font-family: Nunito Sans;;
}
@media (max-width:992px) {
    .table-striped>tbody>tr:nth-of-type(odd)>*{
        --bs-table-accent-bg: #ffffff;
        border: none;
        border-radius: 0;
        font-weight: 700;
        border-bottom: 1px solid #AFAFAF;
    }
}
.row-2 td{
    border-radius: 5px;
    border: 1px solid #AFAFAF;
    background: #FFF;
    vertical-align: middle;
}
@media (max-width:992px) {
    .row-2 td{
        border: none;
        border-bottom: 1px solid #AFAFAF;
        border-radius: 0;
    }
}
.row-2 td .btn-danger{
    border-radius: 3px;
    background-color: none;
    background-image: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
}
@media (max-width:992px) {
    .row-2 td .btn-danger{
        margin: auto;
        padding: 8px 40px;
    }
}
/*====== training calendar style end ======*/

/*===== tab sec style start =====*/
.tab-section .w-100{
    background: #282828;
}
.tab-section .tab-content{
    border-radius: 0;
}
/* .tab-section .w-100 .nav-pills .nav-item{
    width: 20%;
} */
.tab-section .w-100 .nav-pills .nav-link{
    padding: 18px 20px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 0;
    color: #ffffff;
    letter-spacing: .5px;
}
@media (min-width:992px) {
    .tab-section .w-100 .nav-pills .nav-link{
        padding: 18px 35px;
    }
}
.tab-section .w-100 .nav-pills .active{
    background: #EE224A;
    color: #ffffff;
}
@media (max-width: 768px) {
    .tab-content>.tab-pane {
      display: block;
      opacity: 1;
    }
  }
@media (min-width:768px) {
    .tab-section .accordion-item{
        border: none;
    }
}
.accordion-body ul li{
    font-size: 16px;
    letter-spacing: .5px;
    color: #2F2F2F;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: normal;
	list-style-type: none;
    padding-left: 10px;
    position: relative;
    margin-bottom: 6px;
}
.accordion-body ul li:last-child{
    margin-bottom: 0;
}
.accordion-body p a{
    color: #ff1046;
}
.star{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #2F2F2F;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    position: relative;
    margin-bottom: 6px;
    gap: 16px;
}
@media (max-width:768px) {
    .star{
        font-size: 14px;
    }
}
.star::before {
    content: url('../../assets/img/roundcheck.png');
    width: 15px;
  }

.accordion-body ul{
    padding: 1rem;
    margin: 0;
}
.faqbody{
background: #f0f0f0;}

.cdbody{
--bs-accordion-border-width: 0px !important;
--bs-accordion-border-color:#ffffff!important;
padding-top:25px;
}
@media (max-width:768px) {
    .cdbody{
        background: #f0f0f0;
    }
}
.pb48{ padding-bottom:48px;}

@media (max-width:768px) {
    .accordion-body ul li{
        font-size: 14px;
    }
}
.brochureBtn{
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 40px;
    text-decoration: none;
    display: inline-block;
}
.brochureBtn:hover{
    color: #ffffff;
}
/*====== tab sec style end =======*/

/*====== training-calendar style start ========*/
.training-calendar{
    background: #F0F0F0;
}

/*===== advisor sec style start =======*/
.advisor .myAdvisor {
    margin-top: 24px;
}

.advisor .item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    background: var(--white);
    padding: 24px;
}

@media (min-width:768px) {
    .advisor .item:hover {
        border: 1px solid var(--red);
        box-shadow: 0px 4px 15px 0px rgba(238, 34, 74, 0.25);
    }
}

.advisor .item .profile-desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #d0d0d0;
}

.advisor .item .profile-desc .avtar img {
    width: 74px;
    height: 74px;
    display: block;
    border-radius: 74px;
    object-fit: contain;
    border: 1px solid #d0d0d0;
}

.advisor .item .profile-desc .avtar-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advisor .item .profile-desc .avtar-data .avtar-name{
    color: var(--bg-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.advisor .item:hover .profile-desc .avtar-data .avtar-name{
    color: var(--red);
}
.advisor .item .profile-desc .avtar-data .avtar-exp{
padding: 8px 16px;
background:#ffeeee;
color: var(--red);
text-align: center;
font-family: "Nunito Sans";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 50px;
}
.advisor .item .designation{
    font-weight: bold;
}
.advisor .item .summary{
    margin-top: 8px;
    font-weight: 400;
}
.advisor .item .summary .read-more{
    color: var(--red);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    display: inline;
    margin-top: 8px;
}
.advisor .item .summary .hidden-text{
    display: none;
}

/*====== process sec start =======*/
.process{
    background: #333333;
    padding: 80px 0;
}
.process .item{
    text-align: center;
    position: relative;
    padding: 0 25px;
    margin-bottom: 40px;
}
@media (min-width:768px) {
    .process .item{
        margin-bottom: 0;
        height: 100%;
    }
}
@media (min-width:1200px) {
    .process .item{
        padding: 0 15px;
    }
}
.process .item::after {
    content: url('../../assets/img/icons/vector-arrow.svg');
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
    margin-top: 70px;
}
@media (min-width:768px) {
    .process .item::after {
        display: none;
    }
}
@media (min-width:992px) {
    .process .item::after {
        top: 50%;
        left: 90%;
        transform: translate(100%, -100%);
        margin-top: 0;
        display: block;
    }
}
@media (min-width:1200px) {
    .process .item::after {
        top: 50%;
        left: 100%;
    }
}
.process .conquer::after{
    content: '';
}
.process .item img{
    width: 50px;
    height: auto;
}
.process .item h4{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10PX;
}
.process .item P{
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    line-height: normal;
}

/*======= why-choose sec start =======*/
.why-choose{
    background: #F0F0F0;
}
.why-choose .col-lg-3{
    padding: 0 15px;
}
@media (min-width:768px) {
    .why-choose .col-lg-3{
        padding: 0 35px;
    }
}
.why-choose .item{
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 0;
    transition: all 0.5s;
    height: 100%;
}
@media (min-width:768px) {
    .why-choose .item{
        padding: 35px 0;
    }
}
.why-choose .item:hover{
    border-radius: 5px;
    background: #2F2F2F;
}
.why-choose .item img{
    margin-bottom: 15px;
}
.why-choose .item p{
    text-align: center;
    border-top: 2px solid #E6E6E6;
    margin: 20px 10px 0 10px;
    padding-top: 15px;
    color: #2F2F2F;
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
@media (min-width:768px) {
    .why-choose .item p{
        margin: 20px 50px 0 50px;
        font-size: 16px;
    }
}
.why-choose .item:hover p {
    border-top: 2px solid #EE224A;
    color: #ffffff;
}

.why-choose .item:hover .hoverable path {
    fill: #ffffff; /* New color on hover */
}
/*======== gladiators sec start ==========*/
.gladiators{
    background: #F0F0F0;
}
.gladiators-item{
    background: #ffffff;
    position: relative;
    text-align: center;
    padding: 0 25px;
	border-radius: 10px;
}
.gladiators-item img:nth-child(2){
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: -35px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.gladiators-item img{
    width:80px;
    margin: 10px 0;
}
.gladiators-item h4{
    color: #EE224A;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
}
@media (min-width:768px) {
    .gladiators-item h4{
        font-size: 16px;
    }
}
.gladiators-item span{
    text-align: center;
    display: block;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: .5px;
    color: #AFAFAF;
    font-family: Nunito Sans;
    font-weight: 600;
}
.gladiators-item p{
    color: #787878;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 200px;
    min-height: 200px;
    overflow-y: scroll;
}
@media (min-width:768px) {
    .gladiators-item p{
        font-size: 15px;
    }
}
.gladiators-item p::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
    display: none;
}
.gladiators-item p::-webkit-scrollbar{
    background: #EE224A;
}
.gladiators-item p::-webkit-scrollbar-thumb {
    background: #EE224A;
}
.gladiators-item p:hover::-webkit-scrollbar{
    display: block;
}
.gladiators-item .svgright{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.gladiators-item .svgleft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet,
.myGladiators .swiper-pagination .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: rgb(238, 34, 74);
}

/*======= faq item start =====*/
/* Style for FAQ items */
.faqsec{
    background: #ffffff;
}
.accordion-button{
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 12px;
    letter-spacing: .5px;
}
@media (min-width:768px) {
    .accordion-button{
        font-size: 16px;
    }
}
.accordion-button:focus{
    box-shadow:none;
}
.accordion-button::after{
    outline-offset: 5px;
    outline: auto;
}
.accordion-button:not(.collapsed){
    background: none;
    color: #414141;
    box-shadow: none;
}
.accordion-collapse{
    background: #ffffff;
    padding: 0;
}
.accordion-body p{
    font-size: 14px;
    letter-spacing: .5px;
    color: #2F2F2F;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
@media (min-width:768px) {
    .accordion-body p{
        font-size: 16px;
    }
}
/*======= faq item end =========*/
/*>>>>>>>>>>>>>>>> success story style start <<<<<<<<<<<<<*/
.success-story-hm-sec{
    background: #2F2F2F;
}

.success-story-hm-sec .col-lg-6 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.success-story-hm-sec .success-item {
    position: relative;
}

.success-story-hm-sec .success-story {
    padding-right: 36px;
    gap: 24px;
}
@media (max-width:768px) {
    .success-story-hm-sec .success-story {
        padding-right: 15px;
    }
}
.success-story-hm-sec .success-story h2 {
    color: #ffffff;
}
@media (max-width:768px) {
    .success-story-hm-sec .success-story h2{
        text-align: center;
    }
    .success-story-hm-sec h2{
        text-align: center;
    }
}
.success-story-hm-sec .success-certificate {
    padding-left: 36px;
    gap: 24px;
}
@media (max-width:768px) {
    .success-story-hm-sec .success-certificate {
        padding-left: 15px;
        margin-top: 24px;
    }
}
.success-story-hm-sec .success-certificate h2{
    color: #ffffff;
}
.success-item .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio for the video */
}

.success-item .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.success-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://infosectrain.com/wp-content/themes/Divi/assets/images/home/success-thumbnail.webp');
    /* Replace with the path to your poster image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.play-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.play-button img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.play-button::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: border 0.3s ease;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);;
    animation: pulseAnimation 1s infinite;
    opacity: .2;
}

@keyframes pulseAnimation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 20px rgba(238, 34, 74, 0.20);
    }

    75% {
        -webkit-transform: scale(1.75);
        transform: scale(1.75);
        opacity: 1;
        box-shadow: 0 0 30px rgba(238, 34, 74, 0.50);
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        box-shadow: 0 0 40px rgba(238, 34, 74, 0);
    }
}

.success-story-hm-sec .success-certificate-btn {
    border: none;
    display: block;
    margin: auto;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
}

/*>>>>>>>>>>> success story style end <<<<<<<<<<*/
/*======= footer contact style start ========*/
.footer-contact{
    background: #F0F0F0;
}
@media (max-width:768px) {
    .footer-contact .container .row{
        flex-direction: column-reverse;
    }
}
.footer-contact .item h2{
    font-size: 30px;
    line-height: 35px;
}

.footer-contact .item p{
    color: #414141;
    text-align: justify;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}
@media (min-width:992px) {
    .footer-contact .item p{
        font-size: 14px;
    }
}
.footer-contact .item form>input{
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.50);
    background: #FFF;
    width: 100%;
    padding: 8px 15px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.footer-contact .item form>input::placeholder{
    color:#999999;
    text-transform: capitalize;
}
.footer-contact .item form>input:focus{
    outline: none;
}
.footer-contact .item form>button{
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
}
.footer-contact .container:nth-child(2) .col-md-4{
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (min-width:768px) {
    .footer-contact .container:nth-child(2) .col-md-4{
        justify-content: center;
    }
}
.footer-contact .container:nth-child(2){
    border-radius: 10px;
    background: linear-gradient(114deg, #EE224A -67.94%, #600013 178.55%);
    box-shadow: 0px 15px 25px 0px rgba(16, 16, 16, 0.25);
    padding: 35px 25px;
    display: none;
    transform: translateY(85px);
    margin-top: -90px;
}
@media (min-width:768px) {
    .footer-contact .container:nth-child(2){
        margin-top: -70px;
        display: block;
    }
}
@media (min-width:992px) {
    .footer-contact .container:nth-child(2){
        margin-top: -50px;
    }
}
.footer-contact .container:nth-child(2) .item{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-contact .container:nth-child(2) .item img{
    width: 30px;
}
@media (min-width:768px) {
    .footer-contact .container:nth-child(2) .item img{
        width: 40px;
    }
}
.footer-contact .container:nth-child(2) .item span{
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
@media (min-width:768px) {
    .footer-contact .container:nth-child(2) .item span{
        font-size: 20px;
        margin-left: 10px;
    }
}
/*======= footer contact style end ========*/

/*======= footer style start ======*/
footer{
    background: #333333;
    padding: 36px 0;
}
@media (min-width:768px) {
    footer{
        padding: 100px 0 0 0;
    }
}
footer .item h3{
    color: #EE224A;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 15px;
}
footer .item p{
    color: #ffffff;
    text-align: justify;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
}
footer .item ul li::marker{
    color: #ffffff;
}
footer .item ul li a{
    color: #ffffff;
    text-align: justify;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .5px;
}
@media (min-width:768px) {
    footer .item ul li a{
        font-size: 16px;
    }
}
/*====== footer style end ======*/
/*====== modelData form style start =====*/
.modal{
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(12.5px);
}
.modal-title{
    font-size: 30px;
    color: #282828;
    font-family: 'Roboto', sans-serif;;
}
.modal-content{
    border-radius: 10px;
    background: #E6E6E6;
    border: none;
    position: relative;
    box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.25);
}
.modelData form>input{
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    padding: 8px 15px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    border: 1px solid #6F6F6F;
}
.modelData form>input:focus{
    outline: none;
    border: 1px solid #EE224A;
}
.modelData form>input::placeholder{
    text-transform: capitalize;
    color:#999999;
}
.modelData form>button {
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}
.model-person{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, -91%);
}
@media (max-width:768px) {
    .model-person{
        display: none;
    }
}
.btn-close{
    display: flex;
    position: absolute;
    right: 0;
    transform: translate(10px, -35px);
    color: #ffffff;
    z-index: 1;
    opacity: 1;
    background: #EE224A;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
@media (max-width:768px) {
    .btn-close{
        transform: translate(0, -35px);
    }
}
.btn-close:hover{
    opacity: 1;
    color: #ffffff;
}
.modal-footer a{
    text-decoration: none;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 700;
}
/*===== topup button style start =======*/
.topBtn {
    display: block;
    position: fixed;
    bottom: 70px;
    z-index: 99;
    border: none;
    background-color: #EE224A;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    right: -70px;
    transition: right .2s ease-in-out;
    width: 45px;
}
/*====== fixed footer style start ========*/
.fixed-footer {
    padding: 5px 0;
    background: linear-gradient(114deg, #EE224A -67.94%, #600013 178.55%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100px;
    z-index: 1;
    transition: bottom 0.2s ease-in-out;
}

.fixed-footer ul {
    margin-bottom: 0;
}

.fixed-footer ul li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    color: #FD841F;
}

.fixed-footer ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 18px;
}
.fixed-footer ul li button{
    padding: 10px 25px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
}
@media only screen and (max-width:768px) {
    .fixed-footer {
        padding: 0;
    }

    .fixed-footer .container {
        padding: 0;
    }

    .fixed-footer ul li {
        width: 100%;
        margin: 0;
    }

    .fixed-footer ul li {
        background: #25d366;
        padding: 4px;
    }

    .fixed-footer ul li a {
        font-size: 20px;
    }

    .fixed-footer ul li:nth-child(2) {
        background:  #EE224A;
    }

    .fixed-footer ul li:nth-child(3) {
        background: #333333;
    }
}
.fixed-footerMob{
    position: fixed;
    bottom: -50%;
    left: 0;
    z-index: 99;
}
.fixed-footerMob ul>li{
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.fixed-footerMob ul>li:nth-child(1){
    background: #40c351;
    border-top-right-radius: 5px;
}
.fixed-footerMob ul>li:nth-child(2){
    background: #ee224a;
}
.fixed-footerMob ul>li:nth-child(3){
    background: #0288d1;
    border-bottom-right-radius: 5px;
}

input:focus::-webkit-input-placeholder {
	color : transparent;
}
input:focus::-moz-placeholder {
	color : transparent;
}
input:-moz-placeholder {
	color : transparent;
}
input:focus::-webkit-input-placeholder {
	opacity : 0;
}
input:focus::-moz-placeholder {
	opacity : 0;
}
input:-moz-placeholder {
	opacity : 0;
}