@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .5px;
  /* text-transform: capitalize; */
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

section {
  padding: 50px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.justify-content-between {
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: normal;
  font-family: 'Yeseva One', serif;
  text-align: center;
}
@media (min-width:768px) {
  h1{
    font-size: 25px;
    text-align: left;
  }
}
@media (min-width:992px) {
  h1{
    font-size: 35px;
  }
}

h1 span {
  font-size: 35px;
}

h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ED264B;
  line-height: 35px;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

a {
  padding: 15px 35px;
  background: linear-gradient(267deg, #ee224a -15.61%, #ff8a00 123.55%);
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .5px;
  text-transform: capitalize;
  margin-top: 15px;
  display: inline-block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 0.3s, background 0.3s;
  font-family: 'Nunito Sans', sans-serif;
}
ol {
  padding-left: 20px;
}

::placeholder {
  color: #000000;
  opacity: 1;
  font-size: 15px;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

.banner {
  padding: 40px 0 160px 0;
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}
@media (min-width:768px) {
  .banner {
    background-image: url('../img/banner.png');
    padding: 40px 0 100px 0;
  }
}
@media (min-width:1200px) {
  .banner {
    background-image: url('../img/banner.png');
    padding: 40px 0 160px 0;
  }
}
.lamp-one{
  position: absolute;
  top: 0;
  width: 40px;
  left: 5%;
  transform: scaleX(-1);
}
.lamp-two{
  position: absolute;
  top: 0;
  width: 75px;
  right: 5%;
}
@media (min-width:1200px) {
  .lamp-one,.lamp-two{
    width: 100px;
  }
}
.rowlogo {
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width:768px) {
  .rowlogo {
    margin-bottom: 50px;
  }
}
@media (min-width:992px) {
  .rowlogo {
    margin-bottom: 80px;
  }
}
.rowlogo a {
  margin-top: 0;
  padding: 10px 30px;
  background: #ffffff;
  color: #b31942;
}

.logo {
  /* position: absolute;
    top: -90px; */
  /* left: 0; */
  max-width: 20%;
}

.banner .row {
  justify-content: space-between;
}

.banner .item {
  width: 60%;
}

.banner .item-two {
  width: 40%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(12.5px);
  padding: 40px 0;
}

.banner p {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 15px 0;
  line-height: normal;
  font-weight: 700;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
@media (min-width:768px) {
  .banner p {
    font-size: 30px;
    text-align: left;
  }
}
@media (min-width:992px) {
  .banner p {
    font-size: 51px;
  }
}
.banner p span {
  color: #FC0;
}
.banner p span:nth-child(3){
  font-size: 20px;
}
@media (min-width:992x) {
  .banner p span:nth-child(3){
    font-size: 25px;
  }
}
@media (min-width:1200px) {
  .banner p span:nth-child(3){
    font-size: 35px;
  }
}
.banner p:nth-child(3) {
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  text-transform: capitalize;
}
@media (min-width:992px) {
  .banner p:nth-child(3) {
    font-size: 25px;
  }
}
.banner .countdown-offer {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.banner .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
  position: relative;
}

.banner .timer p {
  font-size: 15px;
}

/* .banner .countdown-offer .timer */
/* .banner .countdown-offer .timer::after {
    position: absolute;
    content: '';
    background-image: url("../img/timer-dots.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 40px;
    top: 15px;
    right: -35px;
  } */
.banner .countdown-offer .timer:last-child {
  margin-right: 0;
}

.banner .countdown-offer .timer:last-child::after {
  content: none;
}

.banner .countdown-offer .timer .time {
  /* width: 55px; */
  /* height: 55px; */
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.banner .countdown-offer .timer .time::before {
  position: absolute;
  content: "";
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  background-image: linear-gradient(to left top, #FF003D 70%, #FFF 30%);
  border-radius: 50%;
  z-index: -1;
}

.banner .countdown-offer .timer .time span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 70px;
  background-color: #000;
  height: 70px;
  font-size: 38px;
  font-weight: 500;
  border-radius: 50%;
  color: white;
}

.banner .countdown-offer .timer:nth-child(1) .time::before {
  animation: progress 3s infinite linear;
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.banner .countdown-offer .timer:nth-child(2) .time::before {
  animation: progress1 3s infinite linear;
}

@keyframes progress1 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(430deg);
  }
}

.banner .countdown-offer .timer:nth-child(3) .time::before {
  animation: progress2 3s infinite linear;
}

@keyframes progress2 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

.banner .countdown-offer .timer:nth-child(4) .time::before {
  animation: progress3 3s infinite linear;
}

@keyframes progress3 {
  0% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(630deg);
  }
}

.banner .date {
  display: inline-block;
  margin-top: 25px;
}

.banner .date p {
  font-size: 15px;
  padding: 12px 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width:992px) {
  .banner .date p {
    font-size: 20px;
  }
}
.banner .date p:nth-child(1) {
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  color:#282828;
}

.banner .date p:nth-child(2) {
  background: #ED264B;
  border-radius: 0 0 8px 8px;
}

.item-two .form-header {
  color: #ffffff;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  font-family: 'Roboto', sans-serif;
}

.floating-label-group {
  position: relative;
  margin-top: 20px;
}

.floating-label {
  font-size: 15px;
  color: #000000;
  position: absolute;
  pointer-events: none;
  top: 13px;
  left: 35px;
  letter-spacing: 1px;
  transition: all 0.1s ease;
  text-transform: capitalize;
}

.floating-label-group input,
textarea {
  width: 90%;
  padding: 15px 10px;
  border: none;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #6F6F6F;
  background: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}
.floating-label-group input:focus{
  border-color: #ED264B;
}
.floating-label-group input::placeholder{
  color: #787878;
}
.item-two input[type="submit"] {
  width: 90%;
  padding: 13px 10px;
  border-radius: 3px;
  border: none;
  display: block;
  margin: 20px auto auto;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  background: linear-gradient(267deg, #EE224A -15.61%, #FF8A00 123.55%);
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
}

.floating-label-group input:focus {
  outline: none;
}

.floating-label-group textarea:focus {
  outline: none;
}

.highlight-sec .row {
  justify-content: center;
}
@media (min-width:768px) {
  .highlight-sec .row {
    justify-content: space-between;
  }
}
@media (min-width:992px) {
  .highlight-sec .row {
    justify-content: space-evenly;
  }
}

@media (min-width:1200px) {
  .highlight-sec .row {
    justify-content: space-between;
  }
}
.highlight-sec .row h2{
  color: #ffffff;
  text-align: center;
  width: 100%;
}
@media (min-width:1200px) {
  .highlight-sec .row h2{
    margin-bottom: 20px;
  }
}
.highlight-sec .item {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), inset 0 3px 0 #ED264B;
  align-items: center;
  border-radius: 5px;
  padding: 20px 10px;
  background: #ffffff;
  margin-top: 15px;
  justify-content: center;
  align-items: baseline;
}
@media (min-width:768px) {
  .highlight-sec .item {
    width: 48%;
  }
}
@media (min-width:992px) {
  .highlight-sec .item {
    width: 30%;
  }
}

@media (min-width:1200px) {
  .highlight-sec .item {
    width: 19%;
    margin-top: 0;
  }
}

.highlight-sec .item .item-icon {
  border-right: 1px solid #00000042;
  padding-right: 10px;
}

.highlight-sec .item p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.faq-sec {
  background: #F0F0F0;
  position: relative;
  overflow: hidden;
}
.faq-sec h2 {
  text-align: center;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-item {
  /* padding: 20px 40px; */
  border-radius: 6px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 20px;  background-color: #fff;
  cursor: pointer;
  display: block;
  margin: 10px auto auto auto;
  width: 100%;
}
@media (min-width:992px) {
  .faq-item {
    width: 80%;
  }
}
.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18PX;
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
}

@media (min-width:992px) {
  .question {
    font-size: 20px;
  }
}
.question strong span{
  color: #ED264B;
}
.answer {
  display: none;
  line-height: normal;
  color: #010101;
  font-family: 'Nunito Sans', sans-serif;
  background: #f9f9f9;
}

@media (min-width:992px) {
  .answer {
    font-size: 16px;
  }
}
.answer strong{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: underline;
}
@media (max-width:768px) {
  .answer strong{
    font-size: 16px;
  }
}
.answer ul li{
  list-style-position: inside;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width:768px) {
  .answer ul li{
    font-size: 14px;
  }
}
.answer ul li:last-child{
  margin-bottom: 15px;
}
.icon {
  margin-right: 5px;
  font-weight: bold;
}


/*======== faq end ==========*/
.advisor .row {
  align-items: center;
  justify-content: space-around;
}

.advisor .item {
  width: 100%;
  height: auto;
}

@media (min-width:992px) {
  .advisor .item {
    width: 40%;
  }
}

@media (min-width:1200px) {
  .advisor .item {
    width: 30%;
  }
}

.advisor .item-two {
  max-width: 100%;
  height: auto;
  margin-top: 35px;
  text-align: center;
}

@media (min-width:992px) {
  .advisor .item-two {
    width: 60%;
    margin-top: 0;
    text-align: left;
  }
}

@media (min-width:1200px) {
  .advisor .item-two {
    width: 65%;
  }
}

.advisor .item-two h2 {
  font-size: 18px;
  line-height: normal;
}

.advisor .item-two h4 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #ff1046;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

@media (min-width:768px) {
  .advisor .item-two h4 {
    font-size: 30px;
  }
}

@media (min-width:992px) {
  .advisor .item-two h4 {
    font-size: 35px;
  }
}

.advisor .item-two span {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 10px;
  color: #1a1818;
  font-family: 'Roboto', sans-serif;
}

.advisor .item-two p {
  margin-bottom: 15px;
}

.advisor .item img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: block;
  margin: auto;
}
@media (min-width:992px) {
  .advisor .item img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }
}
.why-choose .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.why-choose .item {
  width: 45%;
  height: auto;
}

.why-choose .item-two {
  width: 50%;
  height: auto;
}

.why-choose .item-two h2 {
  margin-bottom: 15px;
}

.why-choose .item img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.why-choose .item-two p {
  margin-bottom: 15px;
  text-align: justify;
}
@media (min-width:768px) {
  .why-choose .item-two p {
    text-align: left;
  }
}
footer {
  padding: 50px 0;
  background: #333333;
}

/*
 footer h2{
  color: #ffffff;
 } */

.footer_item {
  width: 25%;
  height: auto;
}

.footer_item:nth-child(1) {
  width: 40%;
  height: auto;
}

.footer_item h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ff1046;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.footer_item p {
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.footer_item a {
  display: flex;
  color: #fff;
  font-size: 15px;
  padding-bottom: 18px;
  align-items: center;
  text-decoration: none;
  background: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
}

.footer_item a span {
  margin-right: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  h2 {
    font-size: 20px;
    line-height: normal;
  }

  a {
    padding: 10px 25px;
    font-size: 14px;
  }

  .banner {
    padding: 20px 0 40px 0;
  }

  .rowlogo a {
    margin-top: 0;
    background: #ffffff;
    color: #b31942;
    padding: 8px 20px;
  }

  .logo {
    max-width: 50%;
    display: block;
    margin: auto;
  }
  section,
  footer {
    padding: 40px 0;
  }

  p,
  .highlight-sec .item p,
  .panel ul li,
  .footer_item p,
  .footer_item a {
    font-size: 14px;
    line-height: normal;
  }

  .banner .date {
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 70%;
    margin: 15px auto auto auto;
  }
  .banner .item-two{
    padding: 25px 0;
  }
  .banner .item-two form {
    padding: 10px;
  }

  .floating-label-group input,
  .floating-label-group textarea,
  .item-two input[type="submit"] {
    width: 100%;
  }

  .floating-label {
    left: 15px;
  }

  .banner .timer {
    margin-right: 2rem;
  }

  .banner .countdown-offer .timer .time span {
    width: 50px;
    height: 50px;
  }

  .banner .countdown-offer .timer .time::before {
    width: 56px;
    height: 56px;
  }

  .banner .countdown-offer .timer::after {
    right: -22px;
    top: 0;
  }

  .banner .timer p {
    font-size: 13px;
  }

  .floating-label-group>input:focus~.floating-label,
  .floating-label-group input:not(:focus):valid~.floating-label {
    left: 15px;
  }

  .item-two .form-header {
    font-size: 25px;
  }

  .banner .item,
  .why-choose .item,
  .why-choose .item-two {
    width: 100%;
    margin-bottom: 15px;
  }
  .banner .countdown-offer .timer .time span {
    font-size: 20px;
  }

  .banner .date p:nth-child(1) span {
    font-size: 15px;
  }

  .footer_item {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer_item:nth-child(1) {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .logo {
    max-width: 25%;
  }

  .banner .item {
    width: 50%;
  }

  /* .banner .item-two {
    margin-top: 25px;
  } */

  .floating-label-group input,
  textarea,
  .item-two input[type="submit"] {
    width: 95%;
  }

  .footer_item {
    width: 45%;
    height: auto;
    margin-bottom: 15px;
  }

  .footer_item:nth-child(1) {
    width: 45%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .logo {
    max-width: 25%;
  }

  .banner .item {
    width: 60%;
  }

  .banner .item-two {
    width: 40%;
    margin-top: 0;
  }

  .floating-label-group input,
  textarea,
  .item-two input[type="submit"] {
    width: 90%;
  }

  .footer_item {
    width: 25%;
    height: auto;
  }

  .footer_item:nth-child(1) {
    width: 40%;
    height: auto;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .logo {
    max-width: 20%;
  }

  .banner .item {
    width: 60%;
  }

  .banner .item-two {
    width: 40%;
  }

  .why-choose .item {
    width: 45%;
  }

  .why-choose .item-two {
    width: 50%;
  }
}

.pati {
  font-family: 'Nunito Sans', sans-serif;
  background: #ffffff;
  color: #ff1046;
  padding: 8px;
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  border-radius: 0 0 8px 8px;
  font-weight: 600;
}
@media (min-width:992px) {
  .pati{
    padding: 10px;
    font-size: 14px;
    bottom: -39px;
  }
}

.hide {
  display: none;
}

.loading_w {
  width: 100%;
  text-align: center;
  float: left;
}

.rows ul li {
  list-style: none;
  color: #ffffff;
  /* font-weight: 600; */
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.alert-danger {
  padding: 8px;
  margin-top: 10px;
}

.alert-danger p {
  padding: 5px 0 5px 0;
  color: #FC0;
  font-weight: 500;
  font-size: 18px;
}

#demo_form_output {
  width: 90%;
  margin: auto;
  display: block;
  background: #00000021;
  border-radius: 5px;
}