*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body{
    background:#1E1D1B;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 26px;
}


#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 0 0 0; 
    background-color: #1A1A1A;
}
#header .top_links {
    font-weight: 600;
    display: flex;
    justify-content:center;
}
#header .header_up{
    padding:5px 0;
    border-bottom: 1px #4d4d4d solid;
}
#header .top_links a{
   color: #FFFFFF;
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 10px;
    opacity: 0.87;
}
#header .top_links a img{
    width: 17px;
    font-size: 11px;
}

.fixed-top{
background: #1A1A1A;

}
.nav-colored{
    width: 100%;
    background-color:#fff;
    padding:0;
    position:fixed;
    top: 0;
    z-index: 1001;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeInDown 800ms; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
#header .navbar .navbar-nav .nav-item .nav-link{
    color: #9B9B9B;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 18px;
    position: relative;
    transition: all 0.5s;
    opacity: 0.87;
}
#header .navbar .navbar-nav .nav-item:first-child .nav-link{
   /*  color: #373737;
    position: relative; */
}
#header .navbar .navbar-nav .nav-item:hover .nav-link{
    color: #373737;
}

 
#header .navbar .navbar-nav .nav-item.active .nav-link, #header .navbar .navbar-nav .nav-item:hover .nav-link{
    color: #fff;
    opacity: 1; 

  &::after,{
    content: "";
    position: absolute;
    width: 90%;
    height:3px;
    bottom: -7px;
    left: 5%;
    color: #373737;
    background:#ff1046;
    animation:zoomIn 800ms;
}

}

@media(max-width: 1200px){
    #header .navbar .navbar-nav .nav-item .nav-link{
        font-size: 13px;
        padding: 16px 12px;
    }
}

@media (max-width: 992px){
    
    #header .navbar .navbar-nav .nav-item{
        background:#333;
    }
    #header .navbar .navbar-nav .nav-item .nav-link{
        color:#fff;
        border: 1px dotted #FF1046
    }
    #header .navbar .navbar-nav .nav-item:hover .nav-link{
        background-color:#FF1046;
        color: #fff;
    }
/*     #header .navbar .navbar-nav .nav-item:first-child .nav-link{
    color: #fff;
    position: relative;
    transition: all 0.5s;
   } */
   #header .navbar .navbar-nav .nav-item:hover:first-child .nav-link{
    color: #fff;
   }
    #header .navbar .navbar-nav .nav-item:hover .nav-link::after,#header .navbar .navbar-nav .nav-item:first-child .nav-link::after{
    content: "";
    position: absolute;
    width:100%;
    height: 1px;
    border-bottom: 0px solid #ff1046;
    bottom: 0px;
    left:0%;
    color: #FF1046;
    background-color:transparent;
    animation:zoomIn 800ms;
    }

    #header .top_links a{
        font-size: 10px;
         margin: 0 10px 0 0;
    }

}

@media (max-width: 768px){
     #header .top_links a{
        font-size: 7px;
        margin: 0 10px 0 0;
     }
     #header .top_links a img{
         width: 10px;
     }
}

@media (max-width: 510px){
    #header .top_links{
        width: 100%;
        float: left;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: flex-start;
    }
    #header .top_links .link_1{
        grid-column: 1 / 3;
    }
    #header .top_links .link_2{
        grid-column: 1 / 2;
    }
    #header .top_links .link_3{
        grid-column: 2 / 3;
        padding-left: 20px;
    }
    #header .top_links .link_4{
        grid-column: 1 / 4;
    }

     #header .top_links a{
        font-size: 10px;
     }
    #header .top_links a span{
        // display: none;
     }
      #header .top_links a img{
         width: 17px;
     }
}




/* -----------------------------Navbar_top End------------------------------ */

/* -------------------------------Banner Contant------------------------------- */

#banner{width: 100%;
   
    background-image: url(../img/banner_bg.png);
    // background-color: #000;
    padding: 170px 0 110px;
    background-repeat: repeat;
    background-position:center;
    background-size: cover !important;
    -webkit-background-size: cover !important;}

#banner .left_banner{
    // margin-top: 40px;
}
#banner .left_banner img{
    width:165px;
}

#banner .left_banner .b_test_box .b_com{
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0.88px;
    font-weight: medium;
    text-transform: uppercase;
    opacity: 1;
    margin:24px 0 0 0;
}
#banner .left_banner .b_test_box .e_hacker{
    letter-spacing: 0.45px;
    color: #FF1046;
    font-size: 45px;
    font-weight: bold;
    color: #FF1046;
    margin-bottom:60px;
}
#banner .left_banner .b_test_box .e_council{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: medium;
    position: relative;
}
#banner .left_banner .b_test_box .e_council:before{
    content: "";
    position: absolute;
    top: -13px;
    width: 30px;
    height: 0px;
    border: 1px solid #FF1046;
    background-color:#FF1046;
}
#banner .left_banner .b_test_box .c_ethical{
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    opacity: 0.87;
}
#banner .left_banner .b_test_box ul.list_trainer{
    margin-top: 45px;
    list-style:none;
    color: #FFFFFF;
    opacity: 0.87;
    font-size: 12px;
}
#banner .left_banner .b_test_box ul.list_trainer{
    
}
// #banner .train_header{
//     font-size:60px;
//     letter-spacing: 0px;
//     font-family: 'Open Sans', sans-serif;
//     font-weight: 900;
//     color: #373737;
// }
// #banner .train_header span{
//     color: #FF1046;
// }

#banner .form-container{
    width: 100%;
    float: left;
    background-color: #1E1D1B;
    border-radius: 0px;
    padding:35px;
}
#banner .form-container .home-form:before{
    content: "\f107";
    font-family: "fontAwesome";
    position: absolute;
    top: -20px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    width: 40px;
    height:40px;
    background-color: #FF1046;
    border-radius: 0px;
}
#banner .form-container .home-form h2.form_head{
      text-align: left;
      font-size: 20px;
      font-weight: 300;
      color: #FFFFFF;
      letter-spacing: 0.7px;
      opacity: 0.87;
      margin-bottom: 24px;
}

#banner .form-container .form-group{
    margin-bottom: 0;
    display: flex;
    width: 100%;
    flex:flex-wrap;
    justify-content: space-between;
}
#banner .form-container .form-group .form_input{
   width: calc(50% - 5px);
}
#banner .form-container .home-form .form-control{
    height: 36px;
    border-radius: 0px;
    border: none;
    padding: 11px 20px;
    margin-bottom: 13px;   
    font-size: 10px;
    color:#FFF;
    opacity: 0.87;
    background-color: #32312F;
}
#banner .form-container .home-form .form-control::placeholder{
    color: #FFFFFF;
    opacity: 0.87;
    font-size: 10px;
}
#banner .form-container .home-form .form_textarea{
    height: 84px;
}

#banner .form-container .home-form  .btn_submit{
    width: 129px;
    height: 36px;
    transition: all 0.5s;
    outline: none;
    background:#FF1046;
    color:#fff;
    font-size: 14px;
    font-weight: medium;
    padding:0;
    border-radius: 0;
    opacity: 1;
}
#banner .form-container .home-form  .btn_submit img{
    width: 22px;
    margin-left:24px;
}
#banner .form-container .home-form  .btn_submit:hover{
    opacity: 0.7;
}
#banner .form-container .form-check{
    font-size: 9px;
    font-weight: 300;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    opacity: 0.6;
    padding-left: 0;
}
#banner .form-container label a.terms{
    color: #fff;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
} 
#banner .form-container label a.terms:hover{
    color: #FF1046;
} 

@media (max-width: 992px){
    #banner .left_banner .b_test_box .e_hacker {
    font-size: 35px;
}
}
@media (max-width: 767.98px){
    #banner .left_banner .b_test_box .e_hacker {
    font-size: 45px;
}
#banner .form-container {
    margin-top: 70px;
}
#banner .form-container .home-form::before{
    top: 45px;
}
}
@media (max-width: 575.98px){
    #banner .left_banner{
        text-align: center;
    }
    #banner .left_banner .b_test_box .e_hacker{
        font-size: 40px;
    }
}


/* -----------------------------------------End Header------------------------------- */
#certification{
    width: 100%;
    float: left;
    position: relative;
}
#certification .bo-x-l:before{
    content: "";
    position:absolute;
    width: 12px;
    height: 49px;
    background-color: #FF1046;
    top: -25px;
}
#certification h2.package-heading{
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0.6px;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 90px;
}
#certification .cert_box{
    height: 110px;
    background-color: #32312F;
    border-radius: 0px;
}
#certification .cert_box a.box_link{
    display: block;
    height: 100%;
    padding:26px 20px 0 20px;
    vertical-align: middle;
    border-radius: 0px;
    color: #FFFFFF;
    opacity: 0.87;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
#certification .cert_box a.box_link img{
   display:inline-block;
   padding-right: 20px;
}
#certification .cert_box a.box_link span{
    display: inline-block;
    position: absolute;
    font-size: 14px;
    padding-right: 20px;
}
#certification .cert_box:hover a.box_link{
    background-color:#FF1046;
    color:#fff;
    opacity: 1;
}

@media (max-width: 575.98px){
    #certification h2.package-heading{
        text-align: center;
    }
}

/* -----------------------------------------------end package------------ */

#course{
    width: 100%;
    float: left;
    margin-top: 40px;
    padding: 50px 0;
}
#course h2.course-heading{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 30px;
}
#course h2.course-heading:before{
    content: "";
    position: absolute;
    left: 50%;
    top: -37px;
    text-align: center;
    border: 1px solid #FF1046;
    background-color: #FF1046;
    height: 27px;
}

#course .cor_t-b{
    display: grid;
   grid-template-columns: auto auto auto auto auto auto;
   margin-bottom: 30px;
}
#course .cor_t-b .c_b{
    border:2px solid #FF1046;
    border-right: 1px solid #FF1046;
    background-color:transparent;
    opacity: 0.87;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
#course .cor_t-b:last-child{
    border-right: 2px solid #FF1046;
}
#course .cor_t-b .c_b a{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    display: block;
    padding:7px 0px;

}
#course .cor_t-b a.active {
    background-color: #FF1046;
    opacity: 1;
}

#course .fade:not(.show){
    opacity: 0.87;
}
#course  .nav-tabs{
    border-bottom: none;
}

#course ul.course_list{
    list-style:none;
}
#course .course_para,#course ul.course_list li{
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.87;
    letter-spacing: 0.28px;
    font-weight: normal;
}


@media (max-width:1200px){
    #course .cor_t-b .c_b a{
        font-size: 12px;
    }
}

@media (max-width: 992px){
    #course .cor_t-b .c_b a{
        font-size: 10px;
    }
}
@media (max-width: 576px){

#course .cor_t-b{
    display: grid;
   grid-template-columns: auto auto auto;
   margin-bottom: 30px;
}
}
/* ---------------------------------end-course------------------ */

/*-------------- table_section--------------------*/

#table_section{
    width: 100%;
    float: left;
}
#table_section .table_training{
    width: 100%;
    background:#32312F;
    border-radius: 15px 15px 0px 0px;
}
#table_section .table_training .t_text_h{
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding:19px 0;
    margin-bottom: 0;
}
#table_section .table{
    margin-bottom: 0;
}

#table_section .table thead tr th {
    font-size: 13px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 600;
}

#table_section .table-dark{
    color: #FFFFFF;
    background:#32312F;
}

#table_section .table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color:#FFFFFF;
    opacity: 0.87;
}
#table_section .table .text_open{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #FF1046;
    opacity: 1;
}
#table_section .table tbody tr td .btn{
     width: 103px;
    height: 36px;
    background-color:#FF1046;
    display: inline-block;
    font-weight:medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size:14px;
    line-height: 1.5;
    border-radius: 0px;
    opacity: 1;
}

#table_section .table tr:first-child{
    border-left:none;
}

#table_section .table-bordered th:first-child, #table_section .table-bordered td:first-child{
    border-left:none;
}
#table_section .table-bordered th:last-child, #table_section .table-bordered td:last-child{
    border-right:none;
    opacity: 1
}
@media (max-width: 768px){
    
#table_section .table thead{
    display: none;
}
#table_section .table,#table_section .table tbody,#table_section .table tr,#table_section .table td{
    display: block;
    width: 100%;
}
#table_section .table tr{
    margin-bottom: 13px;
}
#table_section .table td{
    text-align: right;
    padding-left: 50%;
    position: relative;
}
#table_section .table-responsive table td .t_btn{
    background-color: #ff8e20;
    width: 130px;
    color: #fff;
}
#table_section .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align:left;
}
}

@media (max-width: 575.98px){
    #table_section .table_training .t_text_h{
        font-size: 22px;
    }
}
/*-------------- End table_section--------------------*/

/*--------------------------what_new--------------------*/
#what_new{
    width: 100%;
    float: left;
    margin-top:90px;
}
#what_new .new_text_h{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    margin-bottom:27px;
}
#what_new .what_n_box{
    width: 100%;
    min-height: 256px;
    background-color:#32312F;
    border-radius: 10px;
    padding:18px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;

}
#what_new .what_n_box:hover{
    background-color: #FF1046;
}
#what_new .what_n_box h2.what_h_box{
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    margin-top: 24px;
}
#what_new .what_n_box ul.list_what-new{
    margin-top: 30px;
    list-style: none;
}
#what_new .what_n_box ul.list_what-new li{
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.28px;
    color: #FFFFFF;
}

/*--------------------------End-what_new--------------------*/

/*-------------------highlight-----------------------------*/
#highlight{
    width: 100%;
    float: left;
    margin-top:90px;
}

#highlight h2.highlight-heading{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 26px;
}
#highlight h2.highlight-heading:before{
    content: "";
    position: absolute;
    left: 50%;
    top: -37px;
    text-align: center;
    border: 1px solid #FF1046;
    background-color: #FF1046;
    height: 27px;
}

#highlight .h_b_cont{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 12px;
}
#highlight .box_sets{
    min-height: 164px;
    background-color:#32312F;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

#highlight .hover-box:hover img.dhover{
    display: none;
}
#highlight .hover-box .set_link img.hover{
    display:none;
}
#highlight .hover-box:hover .set_link img.hover{
    display:block;
}

#highlight .box_sets a.set_link{
    display: block;
    height: 100%;
    text-align: center;
    padding:23px;
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    opacity: 0.87;
    line-height: 21px;
}
#highlight .box_sets a.set_link img{
    display: block;
    margin:0 auto 17px auto;
}
#highlight .box_sets:hover a.set_link{
background-color: #FF1046;
opacity: 1;

}



@media (max-width: 1200px){
    #highlight .h_b_cont{
    grid-template-columns: auto auto auto auto;
}
}
@media (max-width: 1200px){
     #highlight .h_b_cont{
    grid-template-columns: auto auto auto;
}
}

@media (max-width: 767.98px){
     #highlight .h_b_cont{
    grid-template-columns: auto auto;
}
}
@media (max-width: 575.98px){
    #highlight .box_sets br{
        display: none;
    }
    #highlight .box_sets a.set_link{
        font-size: 12px;
        padding:14px;
    }
}
/*-------------------End highlight-----------------------------*/


/*-------------------prof_card-----------------------------*/
#profile_card{
    width: 100%;
    float: left;
    margin-top: 90px;
}

#profile_card h2.pro_crd_heading{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.6px;
    opacity: 1;
    margin-bottom: 14px;
}
#profile_card h2.pro_crd_heading:before{
    content: "";
    position: absolute;
    left: 50%;
    top: -37px;
    text-align: center;
    border: 1px solid #FF1046;
    background-color: #FF1046;
    height: 27px;
}

#profile_card  .card{
    margin:10px;
    background-color: #32312F;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.11);
    position: relative;
    left: 0;
    border-radius: 4px;
    min-height: 356px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

}


#profile_card .card-box{
    padding:0 26px 26px 26px;
}


#profile_card .card-box h2.name{
    text-align: center;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
   }
#profile_card .card-box h3.cou_name{
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10px;
    opacity: 0.87;
    text-align: center;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

   }


#profile_card .card-box .para-card{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    opacity:0.87;
    margin-top: 25px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
#profile_card .card{
    margin-top: 80px;
}

#profile_card .prof-img{
    width: 104px;
    height: 104px;
    margin:-60px auto  0px auto;
    background-color:#fff;
    border-radius: 50%;
    border: 0px solid #ffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
#profile_card .prof-img img.p_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#profile_card .prof-img .icon_img{
    position: absolute;
    display: block;
    top: 50%;
    right: -10px;
}

#profile_card  .card:hover{
    background-color: #FF1046;
}
#profile_card  .card:hover h3.cou_name{
   color: #232323;
   opacity: 0.87;
}

#profile_card  .card:hover .para-card{
    opacity: 1;
}

@media (min-width: 992px){
    #profile_card .owl-carousel .owl-nav button.owl-prev{
    display: none;
}
#profile_card .owl-carousel .owl-nav button.owl-next{
    
    display: none;
}
}

#profile_card .owl-carousel .owl-nav button.owl-prev{
    left: -20px !important;
}
#profile_card .owl-carousel .owl-nav button.owl-next{
    right:-20px !important;
}
#profile_card .owl-carousel .owl-nav button{
    position: absolute;
    top:50%;
    background-color: #e6e7e9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #fff;
    font-size: 30px;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
#profile_card .owl-carousel .owl-nav button:hover{
  background-color: #fff;box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}




/*-------------------End prof_card-----------------------------*/

/*------------------------infosec_train------------------------*/
#infosec_train{
    width: 100%;
    float: left;
    margin-top: 68px;
}
#infosec_train .info_tr_head{
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 24px;
}
#infosec_train .info_left{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
#infosec_train .info_left .in_f_b{
    background-color:#32312F;
    min-height: 115px;
    padding:16px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    position: relative;
}
#infosec_train .info_left .in_f_b:before{
    content: "";
    position: absolute;
    left: 0;
    width: 7px;
    height: 38px;
   border-radius: 0px 5px 5px 0px;
   background:#FF1046;
   -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
       -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
           transition: all .5s ease;
}
#infosec_train .info_left .in_f_b .text_i_t{
    display: block;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-top: 8px;
    line-height: 20px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
#infosec_train .info_left .in_f_b:hover .text_i_t{
    color: #FFFFFF;
    opacity: 1;
}
#infosec_train .info_left .in_f_b:hover{
    background-color: #FF1046;
}
#infosec_train .info_left .in_f_b:hover:before{
    background-color: #fff;
}

#infosec_train .hover-box img.hover{
    display: none;
}

#infosec_train .hover-box:hover img.dhover{
    display: none;
}
#infosec_train .hover-box:hover img.hover{
    display:block;
}

#infosec_train .info_right{
    background-color: #32312F;
    width: 100%;
    min-height:255px;
    padding:29px 68px;
}
#infosec_train .info_right p.text-r_info{
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.65px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 42px;
}
#infosec_train .info_right .btn{
    width: 199px;
    height: 40px;
    background-color: #FF1046;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    opacity: 1;
    transition: all 0.5s;
    outline: none;
    font-size: 14px;
    font-weight: medium;
    padding: 0;
    margin-top: 8px;
    border-radius: 0px;
}
#infosec_train .info_right .btn:hover{
    opacity: 0.87;
}
#infosec_train .info_right .btn img{
    margin-left: 16px;
}
@media (max-width: 1200px){
    #infosec_train .info_right{
    padding:29px 29px;
}
}
@media (max-width: 992px){
    #infosec_train .info_right p.text-r_info{
    font-size: 20px;
}
}
@media (max-width: 768px){
    #infosec_train .info_left{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
}
@media (max-width: 575.98px){
    #infosec_train .info_tr_head{
        text-align: center;
    }
    #infosec_train .info_left{
        text-align: center;
    }
    #infosec_train .info_left .hover-box img.dhover{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
      #infosec_train .info_left .hover-box img.hover{
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
    #infosec_train .info_left .hover-box:hover img.hover{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #infosec_train .info_left .hover-box:hover img.dhover{
        display:none;
    }
    #infosec_train .info_right{
        text-align: center;
    }
    #infosec_train .info_right p.text-r_info{
        font-size: 15px;
    }
}
/*------------------------End infosec_train------------------------*/


/*--------------------Word_praise----------------------------------*/

#word_praise{
    width: 100%;
    float: left;
    margin-top: 95px;
}

#word_praise h2.word_tr_head{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.6px;
    opacity: 1;
    margin-bottom:30px;
}
#word_praise h2.word_tr_head:before{
    content: "";
    position: absolute;
    left: 50%;
    top: -37px;
    text-align: center;
    border: 1px solid #FF1046;
    background-color: #FF1046;
    height: 27px;
}
#word_praise .card{
    margin:0px 10px 0 0;
    // box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.11);
    border:none;
    background-color:transparent;
    border-radius: 4px;
    // min-height: 385px;
    word-wrap:initial;
}



#word_praise .word_box .top_text_w{
    width: 100%;
    min-height: 280px;
    background-image: url(../img/word_p_img.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding:42px 27px 52px 27px;
    border-radius: 4px 4px 0 0;
}
#word_praise .word_box .top_text_w p.word_p_t{
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    opacity: 0.87;
}

#word_praise .word_box .w_p_image{
    width: 100%;
    padding:10px 27px;
    background-color: #32312F;
    position: relative;
    border-radius: 0 0 4px 4px;
}

#word_praise .word_box .w_p_image .pr_crd_img{
    width: 104px;
    height: 104px;
    border-radius: 50%;
    position: absolute;
    top:-52px;
}
#word_praise .word_box .w_p_image .pr_crd_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#word_praise .w_p_image h3.card_p_name{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top:52px;
}

#word_praise .w_p_image .card_p_addr{
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.87;
}
#word_praise .w_p_image .card_rate img{
    width: 97px;
}

#word_praise .owl-slid-a  .owl-nav{
position: relative;
bottom: 0;
left: 50%;
top: 48px;
width: 0%;
text-align: center;
}


#word_praise .owl-slid-a .owl-nav button.owl-next, #word_praise .owl-slid-a .owl-nav button.owl-prev, #word_praise .owl-slid-a button.owl-dot {
     background:transparent !important;
    // color: inherit;
    // border: none;
}
#word_praise .owl-slid-a .owl-nav > .owl-prev:focus, #word_praise .owl-slid-a .owl-nav > .owl-prev:hover, #word_praise .owl-slid-a .owl-nav > .owl-next:focus, #word_praise .owl-slid-a .owl-nav > .owl-next:hover {
    outline: none;
    border:none;
}
#word_praise .owl-slid-a .owl-nav > .owl-prev, #word_praise .owl-slid-a .owl-nav > .owl-next {
    position: absolute;
    top: calc(50% - 30px);
    content: '';
    width: 60px;
    height: 4px;
    display: block;
    // background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#word_praise  .owl-theme .owl-dots {
    margin-top: 22px;
}
#word_praise .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF1046;
    border:2px solid #FF1046;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
#word_praise .owl-theme .owl-dots .owl-dot.active span,#word_praise .owl-theme .owl-dots .owl-dot:hover span,#word_praise .owl-theme .owl-dots .owl-dot:focus span {
    background: transparent;
    border:2px solid #FF1046;
}

@media (max-width: 992px){
    #word_praise .owl-slid-a .owl-nav {
    left: 40%;
    width: 20%;
}
}

@media (max-width: 768px){
    #word_praise .owl-slid-a .owl-nav {
    left: 37%;
    width: 26%;
}
}

@media (max-width: 500px){
#word_praise .owl-slid-a .owl-nav {
    left: 30%;
    width: 40%;
}
#word_praise .word_box .w_p_image .pr_crd_img {
    left: calc(50% - 52px);
}
#word_praise .word_box .w_p_image{
    text-align: center;
}
#word_praise .w_p_image img{
    margin-left: auto;
    margin-right: auto;
}

}

/*--------------------End Word_praise----------------------------------*/

/*-----------------------footer------------------------------*/
#footer_buttom{
    width: 100%;
    float: left;
    border-top:7px solid #FF1046;
    margin-top: 88px;
}
#footer_buttom .foot_con .foot_h{
    font-size: 30px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    margin-top: 24px;
    font-weight: bold;
}
#footer_buttom .foot_con .foot_p{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 0.6;
}
#footer_buttom .buttom_links{

}

#footer_buttom .buttom_links {
    width: 100%;
    margin-top: 24px;
    font-weight:normal;
    display: flex;
    justify-content:center;
}
// #footer_buttom .header_up{
//     padding:5px 0;
//     border-bottom: 1px #4d4d4d solid;
// }
#footer_buttom .buttom_links a{
   color: #FFFFFF;
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 12px;
    opacity: 0.6;
    letter-spacing: 0.24px;

}


#footer_buttom .copy_r{
    width: 100%;
    margin-top: 40px;
}
#footer_buttom .copy_r p.copy_r_t{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    opacity: 0.6;
}
@media (max-width: 575.98px){
    #footer_buttom .foot_con .foot_p br{
        display: none;
    }
    #footer_buttom .foot_con .foot_p{
        text-align: center;
    }
    #footer_buttom .buttom_links {
        display: grid;
        grid-row-gap: 10px;
    }

}
/*-----------------------End-footer------------------------------*/










