   
.breadcrumbs, .breadcrumb{display:none;}
 

h1,h2,h3, ul li, .f_up li, .f_up h4{ text-align:left;} 
  .home_search .heading1 { 
font-size: 26px;
    margin-top: 0px !important;}
.list5 { 
    padding: 10px 10px;}
    .list5 li { 
    font-size: 20px;
    line-height: 44px; 

}
.home_search .btn.btn_submit {
    padding: 6px 10px; 
    font-size: 16px;

    }
    .head{ font-size: 20px;}
 

label{ display:block; text-align:left ;} 

.head-home { 
    font-size: 24px;}

  .learning_mode, .learning_mode4 { 
    margin-bottom: 20px;
}
 
span.learning_mode   {
   font-size: 16px;
    padding: 10px;
    height: 80px; 
    padding-left: 111px;
    text-align: left;display: block;

span{

    height: 80px; 
    width: 80px;
    padding-top: 14px;
    vertical-align: middle;
    display: table;
    position: absolute;
    left: 10px;
    top: -10px;


    img{ width: 60%}
}


}

.head-home {
  
span {
 
    width: 290px;
 

   &:after{      
        width: 120px;
 

}
 
  &:before{      
        width: 120px;
    
}

}



}

.corporate-learning {

h3 {
 text-align: center;
    font-size: 20px; 
    line-height: 26px; 
}
p{text-align: center;}
}

.owl-carousel2 .owl-nav>.owl-prev { 
    left: -15px !important;
}

.owl-carousel2 .owl-nav>.owl-next { 
    right: -15px !important;
}.f_list {
    margin: 0 0 20px;}

.home_flexible{
h3 {text-align: center;    line-height: 26px;
    font-size: 18px !important;
    a{ margin-top: 20px;}
}
}

#home_courses .lazy { 
    background-size: cover;

}
.home_search{ background: #313bbb; padding: 0px 0;}
.home_search_btn{ 
    margin: 20px auto;
    display: table !important;
}.home_search .btn-primary3, .home_search .btn-primary2 {
  
    width: 250px;
}
.modal-lg{ width: 96%;}

.nav_form li { 
    float: left;
    width: 50%;
 a {
    
    padding: 13px 23px; 
    margin: 5px 20px 0 0; 
    font-size: 12px;
}

}

  .modal-body {   overflow-y: auto; height:calc(100vh - 160px);     
  }
 .demo_call_footer a { 
    font-size: 14px;
}.home_testimonials2 .card .head_name {
    
    margin-bottom: 151px;
}.home_search .container {
    padding: 15px;
}.list1{
img{    float: none !important;
    margin: 0 auto;
    display: table;}
     li {
   
     line-height: 18px; 
    font-size: 16px; 
 float: left;
    width: 100%;
 
}

}

.list6 li {
 
    font-size: 13px;
    line-height: 40px; 
}


.list1 li::before {
 
    top: 8px;
 

    }
.head-home2, .head-home { 
    font-size: 25px;
    margin: 10px 0;}
    .home_search .heading1 strong {
    font-size: 30px;
   
}.home_search p {
     
    font-size: 18px; 
}

.footer-fixed a { 
    font-size: 13px;
    }

    .footer-fixed a img { 
    width: 20px;
}

.home_search h2 { 
    font-size: 18px;
    }

 
    .course_details #tab1 img{ width: 100px;}

.navbar-collapse.show{
        background: #fff;


 .navbar-nav .nav-link {
    
    color: #333; 
    border-bottom: 1px #ccc dashed;
}
 
 }

 #header.fixed-top { 
    padding: 9px 0;
}

.owl-carousel .owl-nav>.owl-next {
 
    right: -8px !important;
}

.owl-carousel .owl-nav>.owl-prev {
 
    left: -8px !important;
}
.scrollToTop{ display: none !important;}

 

.footer-fixed a span{ display: none;}


 .new_tab {
 
  .tab-links { display: none;}
 
  .tab-content {
    padding: 30px 0 15px;
    float: left;
    width: 100%;
 
  .tab {
    float: left;
    width: 100%;
      display: block;
    .tab_head{display: block;
    margin-bottom: 10px;
    background: #f2f2f2;
    padding: 15px 10px;
    font-size: 13px;
    border: 1px solid #C1C1C1;
    color: #4e4e4e;
&:after{ content: '';
  width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;

}

}
    .tab_content {
      display: none;
      width: 100%;
      float: left;
    }
    &.active {


    .tab_content {
     display: block;
    border:1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;

 
    }
  .tab_head{      margin-bottom: 0px;
    background: #fff;
    border-bottom: none;
    color: #2f2f2f;
    font-weight: bold;
    font-size: 16px;
    border-top: 3px solid #2f2f2f!important;
 &:after{ content: '';  
        border-top: none;
    border-bottom: 12px solid #9B9797;
     



}  }
    }
  }

   }

} 
.course_wrap{ background: #fff;}
#course .card.p-3{     padding: 0 !important;
    border: none;}

    .home_search .p { 
    font-size: 26px;}

    .cir_head {     margin-top: 20px;}


.table_training {
    border: 0;
    font-size: 1.5em;
  
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  

  .table_training tbody tr:nth-of-type(odd) {
 background-color: #f7f7f7;
}

 




.table_training tr { 
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
 
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding:10px; 
}

.table_training thead tr:first-child { display: none }
//.table_training tbody tr:first-child { display: none }

.table_training  tbody td {
    font-size:13px; 
    text-transform: uppercase;
 border-top: none;
 border-left: none;
 border-right: none;
    padding: 13px 10px; 
    border-bottom: 1px solid #ddd; 
    display: block; 
    text-align: right;


}
 
 .table_training tbody td:last-child{    border-bottom: none;   }


.table_training td:before {
    content: attr(data-label);
    float: left;font-size:12px; 
    font-weight: bold;
    text-transform: uppercase;
}

  
.table_training .btn_training_cal {
    border: 1px #ff1046 solid;
    border-radius: 3px;
    color: #fff;
    padding: 14px 31px;
    margin: 9px 0;
    font-size: 18px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #ff1046;
    letter-spacing: 1px;
}

.instructor  {
background: #313bbb;
}
.btn-primary4 { 
 
    margin: 20px auto 0;
    display: table;
    float: none !important;
}